.todos{
    background: linear-gradient(90deg,deeppink,blue);
    color: whitesmoke;
    font-weight: bold;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.card{

    background-color: whitesmoke;
    width: 20%;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    
}

#container{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    

}

#todo{
    width: 15rem;
    margin: 5px;
    padding: 10px;
    
}
.btn{
    height: 35px;
    width: 6rem;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 1px gray;
    transition: all;
    transition-duration: 2s;
    
}
.btn:hover{
    border: 2px solid black;
    transform: translateY(-10px);
}
#user_input{
    width: 80%;
    display: flex;
    align-items: center;
    position: relative;
    left: 48%;
    transform: translate(-49%);
}

#todo_list{
    overflow: scroll;
}